apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops-bench-api
  namespace: gitops-bench-prod
  labels:
    app: gitops-bench-api
    environment: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gitops-bench-api
  template:
    metadata:
      labels:
        app: gitops-bench-api
        environment: prod
    spec:
      containers:
        - name: api
          image: ghcr.io/nanagyamfiprempeh30/eks-karpenter-gitops-bench:latest
          ports:
            - containerPort: 8080
          env:
            - name: ENVIRONMENT
              value: "prod"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
          livenessProbe:
            httpGet:
              path: /live
              port: 8080
            initialDelaySeconds: 5
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 3
