apiVersion: v1
kind: Service
metadata:
  name: gitops-bench-api
  namespace: gitops-bench-prod
  labels:
    app: gitops-bench-api
    environment: prod
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
  selector:
    app: gitops-bench-api
